header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    background-color: #FFB800;
}

header form {
    display: flex;
}

h1 {
    font-family: 'Marcellus';
    line-height: 24px;
    font-size: 24px;
    text-transform: uppercase;
}

.form-floating {
    width: 45%;
    margin-right: 16px;
    font-family: 'Poppins';
}

.btn-outline-primary {
    font-family: 'Marcellus';
    border: 2px solid black;
    color: black;
    height: 58px;
    text-transform: uppercase;
}


.btn-outline-primary:hover {
    border: 2px solid black;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
}

h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 32px;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* max-width: 648px; */
    font-family: 'Poppins';
    font-size: 16px;
}

.form-control,
.form-select {
    padding: 12px 16px;
    border-radius: 8px;
}


.label-input {
    font-size: 12px;
    font-family: 'Poppins';
    color: #3a3a3a;
    margin-left: 8px;
}

hr {
    background-color: #3a3a3a;
    width: 80%;
    margin-bottom: 32px;
}

h3 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

.form-check-label {
    font-family: 'Poppins';
    color: #3a3a3a;
}

.checkbox-learning {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.check {
    margin-right: 32px;
    flex-basis: 30%;
}

.form-check {
    margin: 8px 0px;
}


.btn-primary {
    font-family: 'Marcellus';
    font-size: 18px;
    background-color: #FFB800;
    border: none;
    color: black;
    width: 320px;
    margin: 24px 0;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #ffb800;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px;
}

.comentario {
    width: 80%;
    margin-top: 32px;
}